<main class="main">
  <div class="content">
      <h1>Hola, estas son novedades de {{title}}</h1>

      <app-input-signals
        [firstName]="'Leonardo Jose'"
        [lastName]="'Aquino Carhuatocto'"
        [age]="31"
        [disable]=true
        [countryUser]="'Perú'"
        [year]="1991" ></app-input-signals>

      <!-- <app-fns-fecha></app-fns-fecha> -->

      <!-- <app-youtube-player></app-youtube-player> -->

      <!-- <app-map-google></app-map-google> -->

  </div>
</main>

<router-outlet />
